/*
Thomas Hoedeman
10318070
style.css
for linked views assigment
*/
html{
  font-family:"Helvetica";
  text-align:center;
  background-color: #a1e29c
}
/* Source css for tooltip: http://bl.ocks.org/Caged/6476579 */
.d3-tip{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #000;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:before {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:before {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



svg {
  position: absolute;
  bottom: 0px;
  left: 250px;
}

footer{
    position: absolute;
    height: 120px;
    bottom: 0px;
    left: 1100px;
    padding-bottom: 15px;
}

#piechart{
    position: absolute;
    bottom: -16px;
    left: -250px;
    align-self: left;

}
#menu {
    position: absolute;
    font-size: 16px;
    font-style: bold;
    text-align: left;
    bottom: 320px;
    left: -30px;

}
#description{
    position: absolute;
    box-sizing: border-box;
    left: 1050px;
    bottom: 120px;
    width: 300px
}
