/*
Thomas Hoedeman
10318070
scatter.css
*/
html{
  font-family:"lucida console";
  text-align:center;
  background-color: #a1e29c
}
/* Source css for tooltip: http://bl.ocks.org/Caged/6476579 */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #000;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



svg {
  position: absolute;
  top: -5px;
  left: 250px;
}

footer{
    position: absolute;
    bottom: -200px;
    left: 600px;
    padding-bottom: 35px;
}

#piechart{
    position: absolute;
    bottom: 230px;
    left: -345px;
    align-self: left;

}
#menu {
    position: absolute;
    font-size: 15px;
    text-align: left;
    top: 0px;
    left: -30px;

}
